* {
    box-sizing: border-box;
}
body {
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
img, label {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
}
#game-search {
    display: block;
    font-size: 1.5em;
}

#game-list {
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 3vh;
}
.game-option {
    width: 18vw;
    height: 18vw;
    cursor: pointer;
    margin-left: 5vw;
    margin-top: 2vh;
    border: 3px solid black;
    background-color: white;
}
.game-option:hover {
    background-color: lightgrey;
}
.game-option img {
    height: 80%;
    margin-top: 10%;
    display: block;
}

#credits-bar {
    margin-top: auto;
    height: 5vh;
    width: 100%;
}

#info-overlay {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: fadeInAnimation .3s;
    display: none;
}
#info-overlay-content {
    background-color: white;
    width: 40vw;
    height: 96vh;
    left: 30vw;
    top: 2vh;
    position: absolute;
    border-radius: 20px;
}
.no-scrollbar::-webkit-scrollbar {
    display: initial;
}
#page-app {
    display: none;
}
#page-app::-webkit-scrollbar {
    display: none;
}
#app {
    height: 95vh;
}
#team-display-container {
    height: 100%;
    width: 10vw;
    float: left;
    border-right: 3px solid black;
}
#main-content-container {
    height: 100%;
    width: 90vw;
    float: right;
}
.pokemon-display-container {
    height: 16.66666%;
    width: 100%;
}
.pokemon-sprite-container {
    height: 100%;
    z-index: 1;
    cursor: pointer;
}
.pokeball-sprite {
    height: 100%;
    display: block;
}
.route-select-button {
    margin-left: -0.3rem;
    z-index: 0;
    cursor: pointer;
}

.app-styled-button {
    background-color: white;
    border: .4em ridge rgb(102, 102, 255);
    cursor: pointer;
}
.app-styled-button img {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
#header-container {
    height: 10%;
    border-bottom: 3px solid black;
}
#back-button {
    height: 5em;
}
#pokemon-search {
    width: 25%;
    font-size: 2em;
}

#pokemon-view {
    width: 100%;
    float: left;
    height: 60%;
    width: 76.5vw;
    overflow-y: scroll;
}
#options-container {
    float: right;
    height: 90%;
    width: 13.5vw;
    border-left: 3px solid black;
}
#typechart-container {
    height: 30%;
    width: 85%;
    float: left;
    border-top: 3px solid black;
}
#typechart-result {
    border: 1px solid black;
    text-align: center;
}
.typechart-table {
    overflow: scroll;
}
.typechart-table thead {
    border-bottom: 1px solid black;
}
.typechart-table tbody tr {
    border-bottom: 1px solid black;
}

.pokemon-thumb-container {
    width: 10%;
    border: 1px solid black;
    cursor: pointer;
    aspect-ratio: 1/1;
}
.pokemon-thumb-container img {
    margin: auto auto;
}