@font-face {
    font-family: dp;
    src: url(./font/dp.woff2);
}

body {
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
html {
    height: 100%;
}

img, label {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
}
#page-app {
    max-height: 100%;
}

/*game finder styles*/
#game-search {
    display: block;
    font-size: 1.5em;
    width: 100%;
    max-width: 500px;
}

.game-option {
    width: 18vw;
    height: 18vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 250px;
    min-height: 250px;
    cursor: pointer;
    border: 3px solid black;
    background-color: white;
}

.game-option:hover {
    background-color: lightgrey;
}

.game-option img {
    height: 80%;
    margin-top: 10%;
    display: block;
}

#credits-bar {
    font-size: 1em;
    height: 5vh;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#site-credit {
    display: none;
}

#expand-credits {
    color: white;
}

/*desktop*/

@media only screen and (orientation: landscape) {

    #site-credit {
        display: block;
    }

    #info-overlay {
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        animation: fadeInAnimation .3s;
        display: none;
    }

    #info-overlay-content {
        background-color: white;
        width: 40vw;
        min-width: 450px;
        height: 96vh;
        margin: auto;
        margin-top: 2vh;
        border-radius: 20px;
    }

    #info-overlay-close {
        font-size: 1.5em;
        position: absolute;
        bottom: 3vh;
        left: 2vw;
    }
    #credits-box {
        overflow-y: scroll;
        max-height: 100%;
        max-width: 100%;
    }
    #credits-box h1 {
        text-align: center;
        margin-top: 30px;
    }
    #credits-box p {
        margin: 20px;
        font-size: 1.3em;
    }
    #credits-box li {
        font-size: 1.3em;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: initial;
    }

    #partition-1 {
        height: 95vh;
        display: flex;
        position: relative;
        justify-content: start;
        max-height: 95vh;
    }

    #partition-2 {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: start;
        max-height: 100%;
        width: 100%;
    }

    #partition-3 {
        display: flex;
        position: relative;
        justify-content: start;
        max-height: 100%;
        height: 90%;
        width: 100%;
    }

    #partition-4 {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: start;
        max-height: 100%;
        width: 100%;
    }

    #options-container {
        height: 100%;
        min-width: min-content;
        max-width: max-content;
        width: 10000px;
        border-left: 3px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #options-container h3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    #team-display-container {
        height: 100%;
        min-width: min-content;
        float: left;
        border-right: 3px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .pokemon-slot {
        height: calc(100% / 6.5);
        width: min-content;
        min-height: 80px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .pokemon-sprite-container {
        display: flex;
        justify-content: center;
        position: relative;
        height: 100%;
        aspect-ratio: 1;
    }
    .pokeball-sprite {
        aspect-ratio: 1/1;
        z-index: 10;
        height: 100%;
        position: absolute;
    }

    .pokemon-team-sprite {
        z-index: 11;
        max-height: 80%;
        max-width: 80%;
        margin: auto;
        cursor: pointer;
    }

    .route-select-button {
        cursor: pointer;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 9;
        margin-left: -5%;
    }

    .app-styled-button {
        background-color: white
            /*rgb(13,110,253)*/
        ;
        border: .2em solid red;
        border-radius: .4em;
        cursor: pointer;
        -moz-transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        transition: all .1s ease-in;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .app-styled-button:hover {
        background-color: #f0c4c8;
    }

    .app-styled-button img {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    #header-container {
        height: 10%;
        min-height: 60px;
        border-bottom: 3px solid black;
        width: 100%;
    }

    #back-button {
        aspect-ratio: 1/1;
        min-height: 55px;
        height: 90%;
    }
    #generate-infographic-button {
        min-height: 55px;
        height: 90%;
    }
    #pokemon-search {
        width: 25%;
        font-size: 2em;
    }
    #pokemon-list {
        overflow-y: scroll;
        gap: 0px;
        height: 100%;
        align-content: flex-start;
    }

    .pokemon-thumb-container {
        aspect-ratio: 1/1;
        width: calc(100% / 12);
        max-width: 150px;
        border: 1px solid black;
        cursor: pointer;
        height: fit-content;
    }

    .pokemon-thumb-container img {
        margin: auto auto;
    }

    #typechart-container {
        max-height: max-content;
        min-height: min-content;
        height: 10000000px;
        width: 100%;
        border-top: 3px solid black;
        max-height: 200px;
    }

    #typechart-result {
        border: 1px solid black;
        text-align: center;
    }

    .typechart-table {
        height: 100%;
        text-align: center;
    }

    .typechart-table thead {
        border-bottom: 1px solid black;
    }

    .typechart-table thead td {
        width: 3vw;
    }

    .typechart-table tbody tr {
        border-bottom: 1px solid black;
        height: 0.1vh
    }

    .type-sprite {
        height: 2.5vh;
        display: block;
    }

    .type-indicator {
        height: 2.5vh;
        width: 2.5vh;
        display: block;
        background-color: white;
        border: 2px solid black;
        border-radius: 100%;
    }

    .type-indicator-container {
        height: 100%;
    }

    #route-select-container {
        display: flex;
        flex-direction: column; 
        height: 100%;
        max-height: 100%;
    }
    #route-select-list-container {
        background-color: #dcdcdc;
        border: 1px solid black;
        overflow-y: scroll;
        width: 50%;
        height: 70vh;
        margin: auto;
        min-width: 400px;
    }

    .location-item {
        height: calc(100% / 8);
        font-size: 1.5em;
        cursor: pointer;
        flex: none;
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
    }

    #infographic-canvas {
        width: 60%;
        max-height: 80%;
        margin: auto;
    }
    #infographic-container {
        text-align: center;
    }
    #save-infographic-btn {
        width: min-content;
        margin: auto;
        font-weight: bolder;
    }
}

/* Mobile */
@media only screen and (orientation: portrait) {
    /* Remove these from mobile view */
    #back-button, #page-title, #options-container div h3, #info-overlay-close {
        display: none;
    }
    .app-styled-button {
        background-color: white; /*rgb(13,110,253)*/
        border: .2em solid rgb(125, 0, 0);
        border-radius: .4em;
        cursor: pointer;
        -moz-transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        transition: all .1s ease-in;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    .app-styled-button:hover {
        background-color: #f0c4c8;
    }

    /* infographics */
    #info-overlay {
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        animation: fadeInAnimation .3s;
        display: none;
    }
    #info-overlay-content {
        background-color: #1e1b1b;
        border: 3px solid rgb(125, 0, 0);
        width: 40vw;
        min-width: 350px;
        height: 80vh;
        margin: auto;
        margin-top: 10vh;
        border-radius: 20px;
        color: white;
    }
    #infographic-canvas {
        max-width: 500px;
        max-height: 70%;
        width: auto;
        margin: 20px;
        flex-shrink: 1;
    }
    #infographic-container {
        text-align: center;
        height: 100%;
    }
    #save-infographic-btn {
        flex-shrink: 0;
        font-weight: bolder;
    }
    #route-select-container {
        display: flex;
        flex-direction: column; 
        height: 100%;
        max-height: 100%;
    }
    #route-select-list-container {
        background-color: #1e1b1b;
        overflow-y: scroll;
        width: 50%;
        height: 70vh;
        margin: auto;
        min-width: 350px;
    }
    #credits-box {
        overflow-y: scroll;
        max-height: 100%;
        max-width: 100%;
    }
    #credits-box h1 {
        text-align: center;
        margin-top: 30px;
    }
    #credits-box p {
        margin: 20px;
        font-size: 1.3em;
    }
    #credits-box li {
        font-size: 1.3em;
    }

    .location-item {
        background-color: #1e1b1b;
        color: white;
        height: calc(100% / 8);
        font-size: 1.5em;
        cursor: pointer;
        flex: none;
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
    }

    /* team display */
    #team-display-container {
        background-color: #1e1b1b;
        height: 20vh;
        max-height: 20vh;
        border-bottom: 3px solid rgb(125, 0, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .pokemon-slot {
        width: calc(100% / 3.5);
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        max-height: 10vh;
    }
    .pokemon-sprite-container {
        display: flex;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
    }
    .pokeball-sprite {
        aspect-ratio: 1/1;
        z-index: 10;
        height: 100%;
        position: absolute;
    }

    .pokemon-team-sprite {
        z-index: 11;
        max-height: 80%;
        max-width: 80%;
        margin: auto;
        cursor: pointer;
    }
    .route-select-button {
        cursor: pointer;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 9;
        margin-left: -25px;
    }

    /* header */
    #header-container {
        background-color: #1e1b1b;
        height: 7vh;
        max-height: 7vh;
        border-bottom: 3px solid rgb(125, 0, 0);
        width: 100%;
        position: relative;
        display: flex;
    }
    #pokemon-search {
        width: 75%;
        height: 100%;
        font-size: 2em;
        padding: 0;
        border: 0;
        display: block;
    }
    #generate-infographic-button {
        display: block;
        height: 100%;
        width: 25%;
        border: 0;
        border-left: 3px solid rgb(125, 0, 0);
        border-right: 3px solid rgb(125, 0, 0);
        border-radius: 0;
    }

    /* Pokemon list */
    #pokemon-list {
        background-color: rgb(125, 0, 0);
        overflow-y: scroll;
        gap: 0px;
        height: 28vh;
        max-height: 28vh;
        justify-content: start;
        align-content: flex-start;
    }
    .pokemon-thumb-container {
        aspect-ratio: 1/1;
        width: calc(100% / 5);
        border: 1px solid black;
        cursor: pointer;
    }
    .pokemon-thumb-container img {
        margin: auto;
    }

    /* coverage */
    #typechart-container {
        height: 25vh;
        max-height: 25vh;
        border-top: 3px solid rgb(125, 0, 0);
        max-height: 200px;
        overflow-x: scroll;
        overflow-y: hidden;
        background-color: #1e1b1b;
    }
    #typechart-container div {
        order: 0;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
    }

    #typechart-result {
        text-align: center;
    }

    .typechart-table {
        order: 1;
        margin-bottom: 2px;
        color: white;
        height: 100%;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .typechart-table thead {
        border-bottom: 1px solid white;
    }

    .typechart-table thead td {
        width: 3vw;
        font-size: 0.8em;
    }

    .typechart-table tbody tr {
        border-bottom: 1px solid white;
        height: 0.1vh
    }
    .typechart-table tbody td {
        font-size: 0.8em;
    }

    .type-sprite {
        height: 2.5vh;
        display: block;
    }

    .type-indicator {
        height: 2.5vh;
        width: 2.5vh;
        display: block;
        background-color: #3c3636;
        border: 2px solid rgb(125, 0, 0);
        border-radius: 100%;
    }

    .type-indicator-container {
        height: 100%;
    }

    /* options */
    #options-container {
        background-color: #1e1b1b;
        color: white;
        height: 15vh;
        max-height: 15vh;
        width: 100%;
        border-top: 3px solid rgb(125, 0, 0);
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    #options-container label {
        font-size: 0.8em;
    }
    #options-container div {
        min-width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #options-container div div input {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #options-container div .app-styled-button {
        margin-left: auto;
        margin-right: auto;
        font-weight: bolder;
        font-size: 0.8em;
    }
    #credits-bar {
        bottom: 0;
        position: fixed;
    }
}